body {
  background: url("Raspberry_Pi_Logo.svg") repeat-y left 100px top 0px;
  background-color: #FFCCD9;
  background-size: 100px;
  margin: 10px 200px 10px 260px;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "retro";
  src: url(press-start-2p.woff2);
}

h1{
font-family: "retro";
font-size: 40px;
color: #3C9A34;
text-shadow: 10px -10px #9CCE9D;
}

h2{
color: white;
background-color: #CC6680;
padding: 5px;
font-family:'Times New Roman', Times, serif;
font-size: 36px;
margin: 0px;
}

.elecciones{
background-color: white;
padding: 20px;
color: blue;
font-size: 24px;  
text-align: center;
border-radius: 20px;
margin: 0px 70px 25px 70px;
}

p{
text-align: justify;
font-size: 20px;
text-indent: 40px;
line-height: 30px;
}

.datos{
border: 10px solid #B43254; 
overflow: auto;
margin: 20px 0px 20px 0px;
}

.datos p{
background-color: #E49AAC;
padding: 10px;
margin: 0px;
}

.der{
float: right;
border: 3px solid white;
padding: 5px;
margin: 10px;
}

.izq{
float: left;
border: 3px solid white; 
padding: 5px;
margin: 10px;
}

emoji{
color: blue;
font-size:48px;
background-color: white;
border-radius: 10px;
padding: 7px;
margin: 70px 0px 15px 0px;
width: 50px;

}

.derecha{
text-align: right;
font-size: 20px;
}

cursiva{
font-style: italic;
font-family:'Times New Roman', Times, serif;
text-transform: uppercase;
}

espacio{
letter-spacing: 30px;

}

azul{
color: blue;
}

rojo{
color: red;
}

borde{
border-top: 3px solid #048204;
border-bottom: 3px solid #048204;
}

hr{
background-color: #B43254;
height: 15px;
border-radius: 10px;
margin: 10px 250px 30px 250px;
}